
language: scala

install:
  - . $HOME/.nvm/nvm.sh
  - nvm install node
  - nvm use node
  - npm install
  - npm install jsdom@11.12.0

matrix:
  include:
  - jdk: oraclejdk8
    scala: 2.13.0-RC2
  - jdk: oraclejdk11
    scala: 2.13.0-RC2

script:
 - sbt ++$TRAVIS_SCALA_VERSION -J-Xmx3G test

